{{define "content"}}

<div class="update-issue">
<h1>Update issue</h1>

<form method="POST">
    <a href="/read/{{.Issue.Id}}/" class="btn">Back</a>
    <table>
        <tbody>
            <tr>
                <th><label for="id">Id</label></th>
                <td><input type="text" id="id" name="id" value="{{.Issue.Id}}" /></td>
            </tr>
            <tr>
                <th><label for="title">Title</label></th>
                <td><input type="text" id="title" name="title" value="{{.Issue.Title}}" /></td>
            </tr>
            <tr>
                <th><label for="description">Description</label></th>
                <td><textarea id="description" name="description">{{.Issue.Description}}</textarea></td>
            </tr>
        </tbody>
    </table>
    <input type="submit" value="Create" class="btn btn-primary" /> or <a href="/read/{{.Issue.Id}}/">Cancel</a>
</form>
</div>

{{end}}